{#
/**
 * @file
 * Default theme implementation of the equivalency weight block.
 *
 * Available variables:
 * - weight: The equivalency weight.
 * - over_limit: TRUE if the weight exceeds max allowable equivalency weight per order.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  'equiv-weight',
  'equiv-weight-block',
  over_limit ? 'equiv-weight--over-limit'
]
%}
{% set attributes = create_attribute() %}
<div {{ attributes.addClass(classes) }}>{{ weight|equiv_weight_format }}</div>
